<configuration>
  <system.webServer>
    <!-- Configure iisnode to handle node.js requests -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <!-- Set the default document -->
    <defaultDocument>
      <files>
        <add value="server.js" />
      </files>
    </defaultDocument>

    <!-- Enable request routing to Node.js -->
    <rewrite>
      <rules>
        <!-- Redirect all requests to server.js for routing -->
        <rule name="DynamicContent" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Enable logging for iisnode -->
    <iisnode loggingEnabled="true" />

    <!-- Pass through errors for better debugging -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Static files support -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
